$text-color: #ffbc47;

$character-name-font-1: "Star Jedi Hollow", sans-serif;
$character-name-font-2: "Distant Galaxy", sans-serif;

$alt-font-1: "StarJedi Special Edition", sans-serif;
$alt-font-2: "Star Jedi", sans-serif;
$alt-font-3: "Star Jedi Outline", sans-serif;

$breakpoint: 680px;
